---
import Layout from '../../layouts/Layout.astro';
import translations from '../../translations/es.json';

const t = translations.home;
const title = t.title || "InterpreterStrike";
---

<Layout title={title} t={t}>


    <h1>
        This page explains the modes of interpretation.<br><br>
        - simultaneous<br>
        - consecutive<br>
        - susurrated<br>
        - linked
    </h1>
</Layout>