---
import Layout from '../../layouts/Layout.astro';
import translations from '../../translations/es.json';
import ContactForm from '../../components/ContactForm.astro';

const t = translations.home;
const title = t?.title || "InterpreterStrike";

const currentPath = Astro.url.pathname;
const spanishPath = currentPath.startsWith('/en') ? currentPath.replace('/en', '/es') : '/es' + currentPath;
const englishPath = currentPath.startsWith('/es') ? currentPath.replace('/es', '/en') : '/en' + currentPath;
---
<Layout title={title} t={t}>

    <h1>
        Esto es una página de contacto.
    </h1>

    <ContactForm />
    
</Layout>