---
import Layout from '../../layouts/Layout.astro';
import LanguageSelector from '../../components/LanguageSelector.astro';
import translations from '../../translations/es.json';


const t = translations.home;
const title = t.title || "InterpreterStrike";
---

<Layout title={title} t={t}>

    <h1>Esto es un página para explicar los servicios de traducción.</h1>
</Layout>